* {
  margin: 0
}

.container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('../../assets/img/watercolor-4117017.png');
  height: 100vh;
  background-size: cover;
  position: relative;

}


.uno {
  background: linear-gradient(rgba(255, 0, 0, 0.459), rgba(0, 0, 255, 0.415));
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;
}

.dos {
  background-size: 500%;

}