.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr 1fr 1fr 1fr 1.8fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "navBar navBar navBar navBar navBar navBar"
    "image image image details details details"
    "image image image details details details"
    "image image image details details details"
    "image image image details details details"
    "activities activities activities activities activities activities"
    "activities activities activities activities activities activities"
    "footer footer footer footer footer footer";
}

.navBar {
  grid-area: navBar;
  background-color: aqua;
}

.image {
  grid-area: image;
}

.details {
  grid-area: details;
}

.activities {
  grid-area: activities;
}

.footer {
  grid-area: footer;
}