.container {
  font-family: sans-serif;
  background-image: url(../../assets/img/watercolor-4117017.png);
  background-color: #bebebe;
  height: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr 0.9fr 1.7fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "navBar navBar navBar"
    "titleImage formulario formulario"
    "titleImage formulario formulario"
    "titleImage formulario formulario"
    "countries countries countries"
    "footer footer footer";
}

.navBar {
  grid-area: navBar;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}

.logo {
  width: 100px;
  border-radius: 30px;
}

.footer {
  grid-area: footer;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.countries {
  grid-area: countries;
  /* background-color: brown */
  margin-top: 20px;
  padding-top: 10px;
}

.titleImage {
  grid-area: titleImage;
  /*background-color: blueviolet;
  */
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin-left: 120px;
  margin-top: 20px;
}


.form {
  grid-area: formulario;
  /* background-color: blue; */
  /* display: flex;
  flex-wrap: wrap; */
}

.containerForm {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "leftForm leftForm rightForm rightForm"
    "leftForm leftForm rightForm rightForm"
    "submit submit submit submit";
}

.select {
  margin: 10px;
}

.select2 {
  margin: 0px 10px;
}

.rightForm {
  /* background-color: blue; */
  grid-area: rightForm;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.season {
  display: flex;
  flex-wrap: wrap;
}

.actImage {
  display: flex;
  flex-wrap: wrap;
}

.countrySelect {
  display: flex;
  flex-wrap: wrap;
}


.leftForm {
  /* background-color: bisque; */
  grid-area: leftForm;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
}

.name {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.difficulty {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.duration {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.submit {
  /* background-color: pink; */
  grid-area: submit;

}


.error {
  font-size: 10px;
  color: rgb(186, 16, 16);
  font-weight: bold;
}

.buttonSubmit {

  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit {
  display: flex;
  justify-content: center;
}

.buttonSubmit:hover {
  text-decoration: none;
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}





.box {
  display: flex;
  flex-direction: column;
}

.box select {

  color: rgb(72, 71, 71);
  padding: 5px;
  width: 250px;
  border: none;
  font-size: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}


.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}



.contenedorCon {
  display: flex;
  flex-wrap: wrap;
}

.country {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: solid black 1px;
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  font-weight: 900;
}

.X {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background: red;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;

}

select {

  padding: 7px;

  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  transition: all 150ms ease;
  color: #223254;
}

option {
  color: #223254;


}

.input {
  border: none;
  margin-left: 5px;
  padding: 10px;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 20px 20px 60px #c5c5c5,
    -10px -10px 60px #b4afaf;
  transition: 0.3s;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;

}