.container {
  /* padding: 15px; */
  width: 250px;
  height: auto;
  margin: 10px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px 30px #bebebe, -5px -5px 10px rgb(57, 56, 56);

  animation: ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.4fr 0.9fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgCard imgCard imgCard imgCard imgCard imgCard"
    "imgCard imgCard imgCard imgCard imgCard imgCard"
    "name name name name name name"
    "info info info countries countries countries"
    "info info info countries countries countries"
    "info info info countries countries countries"
    "info info info countries countries countries";
}

.imgCard {
  grid-area: imgCard;
  width: auto;
  height: auto;
  max-width: 260px;
  max-height: 200px;
  /* 
  border-radius: 30px; */
  max-height: 250px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  grid-area: name;
  max-height: 10px;
  /* background-color: red; */
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: blue; */
  padding: 10px;
}

.title {
  font-weight: 900;
}

.countries {
  grid-area: countries;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: blueviolet; */
  padding: 10px;
}